.supnav {
  padding:0;
  margin:0;
}
.supnav > li > a {
  text-transform:uppercase;
  font-size:0.8em;
  color:#fff;
  padding: 5px 10px;
  border-bottom: solid 1px rgba(255,255,255,0.4);
}
.supnav > li > a:hover {
  color:#323437;
  border-bottom: solid 1px #323437;
}

.mmac-nav {
  background-color: #ff6599;
  background: rgba(255,71,138,1);
  background: -moz-linear-gradient(-45deg, rgba(255,71,138,1) 0%, rgba(255,101,152,1) 53%, rgba(255,101,152,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,71,138,1)), color-stop(53%, rgba(255,101,152,1)), color-stop(100%, rgba(255,101,152,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,71,138,1) 0%, rgba(255,101,152,1) 53%, rgba(255,101,152,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,71,138,1) 0%, rgba(255,101,152,1) 53%, rgba(255,101,152,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,71,138,1) 0%, rgba(255,101,152,1) 53%, rgba(255,101,152,1) 100%);
  background: linear-gradient(135deg, rgba(255,71,138,1) 0%, rgba(255,101,152,1) 53%, rgba(255,101,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff478a', endColorstr='#ff6598', GradientType=1 );
  padding-top:27px;
}

.mmac-nav-logo {
    fill: #ffffff;
    transition: 0.1s;
}
.mmac-nav-logo:hover {
    fill: #323437;
}



.intro {color:#fff; font-size:2em;}
.intro a {
  color:#fff;
}
intro a:hover, intro a:active {
  text-decoration:underline;
  color:#fff;
}


.bggd {
  background-color:#323437;
  color:#ffffff;
}
.bggd a {
  color:#fff;
}
.bggd a:hover{
  color: #fff;
  text-decoration:underline;
}

.bggl {
  background-color:#5f6369;
  color:#ffffff;
}

.bggxl {
  background-color: #f2f4f7;
}
.bgxxl > div.uk-panel-box {
  background-color:#fff;
}

.bgpgl {
  background: rgba(255,194,214,1);
  background: -moz-linear-gradient(45deg, rgba(255,194,214,1) 0%, rgba(255,156,189,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,194,214,1)), color-stop(100%, rgba(255,156,189,1)));
  background: -webkit-linear-gradient(45deg, rgba(255,194,214,1) 0%, rgba(255,156,189,1) 100%);
  background: -o-linear-gradient(45deg, rgba(255,194,214,1) 0%, rgba(255,156,189,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255,194,214,1) 0%, rgba(255,156,189,1) 100%);
  background: linear-gradient(45deg, rgba(255,194,214,1) 0%, rgba(255,156,189,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc2d6', endColorstr='#ff9cbd', GradientType=1 );
}
.bgw {
  background-color:#fff;
  color:#323437;
}
.bgwt {
  background-color:rgba(255,255,255,0.9)
}

.pink {
  color: #ff6599;
}


/* vertical padding */
.pv {
  padding-top: 5.625em;
  padding-bottom: 5.625em;
}
/* vertical padding small */
.pv__s {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}

/* bottom large */
.pvb {
  padding-bottom: 5.625em;
}
/*  bottom small */
.pvb__s{
  padding-bottom:1.875em;
}

/* top large*/
.pvt {
  padding-top: 5.625em;
}
/* top small */
.pvt__s {
  padding-top: 1.875em;
}

.expotitle {
  font-weight: 400;
  margin:0;
  padding:0;
}
.expodate {
  font-weight: 300;
  margin:0;
  padding:0;
}

a.fp-link {
  display:inline;
  font-size:3.1em;
  line-height:0.95em;
  font-weight:100;
  color:#323437;
}
a.fp-link:hover {
  text-decoration:none;
  color:#fff;
  transition: all 0.08s;
  background-color:#323437;
}
@media screen and (max-width:959px) {
  a.fp-link {
    font-size:2.5em;
  }
}

.mmac-page-title {
  margin-bottom: 2.0833333333em;
}

.mmac-inset-shadow {
  height:100px;

    -webkit-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.4);
            box-shadow: inset 0 50px 50px -50px rgba(0,0,0,0.4);
}




footer {
  background: rgba(79,83,87,1);
  background: -moz-linear-gradient(-45deg, rgba(79,83,87,1) 0%, rgba(95,99,105,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(79,83,87,1)), color-stop(100%, rgba(95,99,105,1)));
  background: -webkit-linear-gradient(-45deg, rgba(79,83,87,1) 0%, rgba(95,99,105,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(79,83,87,1) 0%, rgba(95,99,105,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(79,83,87,1) 0%, rgba(95,99,105,1) 100%);
  background: linear-gradient(135deg, rgba(79,83,87,1) 0%, rgba(95,99,105,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5357', endColorstr='#5f6369', GradientType=1 );
}

footer .legal {
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 0.7em;
}

footer, footer a, footer a:hover {
  color:#dedede;
}

footer .uk-list li.heading {
  font-weight:400;
  font-size:1.3em;
}
